/* geral */

body {
    background-color: rgb(241, 239, 239);
}

.container {
    width: 90vw;
}

.post:hover {
    opacity: 70%;
}

section h2 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid black;
}

/* header */

header .container {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

header p {
    display: flex;
    align-items: center;
}

header .d-flex a,
.modal-body button,
.modal-body a {
    background-color: red;
    color: white;
    padding: 10px;
}

header .d-flex a:hover,
.modal-body button:hover,
.modal-body a:hover {
    background-color: rgb(199, 0, 0);
    color: white;
    cursor: pointer;
}

/* nav */

nav ul {
    list-style: none;
}

nav ul li a:hover {
    cursor: pointer;
    color: blue !important;
}

nav {
    border-bottom: 1px solid black;
}

/* alerta */

#alerta button {
    background-color: white;
    border: 1px solid black;
    width: 80px;
}
#alerta button:hover {
    background-color: rgb(208, 208, 208);
    border: 1px solid black;
    width: 80px;
}

/* produtos */

#produtos img {
    border: 1px solid black;
}

.ads img {
    height: 170px;
    width: auto;
}

.ads a {
    text-decoration: none;
    color: black;
}

/* esportes */

#esportes a,
#noticias a,
#politica a,
#economia a,
#tecnologia a {
    text-decoration: none;
}

/* contato */

#contato h2 {
    border: none;
}

/* footer */

footer {
    border-top: 1px solid black;
}

@media (min-width: 768px) and (max-width: 991px) {

    /* nav */

    nav a {
        font-size: 1.4rem !important;
    }

    /* produtos */

    .produtos h4 {
        font-size: 1.5rem;
    }

    .produtos time {
        font-size: 1.3rem;
    }

    .produtos a {
        font-size: 1.3rem;
    }

    .ads img {
        height: 170px !important;
        width: auto;
    }

    .ads a {
        margin-bottom: 30px !important;
        font-size: 1.1rem;
        color: rgb(0, 0, 77);
    }

    /* noticias */

    section a {
        font-size: 1.4rem !important;
    }

    .last-col {
        display: flex;
        width: 100% !important;
        gap: 30px;
    }

    /* contato */

    #contato label {
        font-size: 1.4rem;
    }

    #contato button {
        font-size: 1.4rem;
    }

    /* footer */

    footer {
        font-size: 1.4rem;
    }
}

@media (max-width: 767px) {

    /* header */

    header .subcontainer {
        flex-direction: column;
        max-width: 130px;
    }

    header a {
        font-size: 0.8rem !important;
        width: 100% !important;
        height: 40px !important;
        margin-top: 5px;
        order: 2;
    }

    header p {
        font-size: 0.8rem;
        order: 1;
    }

    /* nav */

    nav {
        padding: 0 !important;
    }

    nav a {
        font-size: 0.85rem !important;
    }

    /* produtos */

    .ads {
        display: none !important;
    }

    section h2 {
        font-size: 2.5rem;
    }

    /* contato */

    #contato h2 {
        margin-bottom: 10px !important;
    }

    /* footer */

    footer {
        font-size: 0.9rem;
    }

    footer .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}